---
layout: default

# keep it short! shown in the header
title: User-Generated Content in Sanity

# these are all optional and add links to the footer
repo: learnwithjason/sanity-user-content-frontend
episode:
tutorial:
---

<style>
  img {
    width: 100%;
  }
</style>

<h1>User-Generated Content in Sanity</h1>

{% for corgi in corgis %}
<div class="corgi">
  <img
    src="{{ corgi.corgiImage.asset.url }}"
    alt="{{ corgi.corgiImage.asset.creditLine }}"
  />
  <h2>Suggested Names</h2>
  <ul>
    {% for name in corgi.suggestedNames %}
    <li>
      <form>
        {{ name.name }} — <span class="votes">{{ name.votes }}</span> votes
        <input type="hidden" name="corgiId" value="{{ corgi._id }}" />
        <input type="hidden" name="nameKey" value="{{ name._key }}" />
        <button>
          Vote For This Name
        </button>
      </form>
    </li>
    {% endfor %}
  </ul>
</div>
{% endfor %}

<script>
  async function sendVote(event) {
    event.preventDefault();

    const data = new FormData(event.target);

    const corgiId = data.get('corgiId');
    const nameKey = data.get('nameKey');

    const result = await fetch('/.netlify/functions/vote-for-name', {
      method: 'POST',
      body: JSON.stringify({ corgiId, nameKey }),
    })
      .then((res) => res.json())
      .catch((err) => console.error(err));

    console.log(result);

    const voteNode = event.target.querySelector('.votes');
    voteNode.innerText = result.totalVotes;
  }

  const forms = document.querySelectorAll('form');

  forms.forEach((form) => {
    form.addEventListener('submit', sendVote);
  });
</script>
